<div class="footer-padding"></div>
<div class="footer">
    <% const date = new Date() %>
    <% const year = date.getFullYear()  %>
    <p><i class="fas fa-angle-double-right"></i> Fictitious Store <%= year %></p>
</div>
</div>
</body>

</html>