<div class="container fluid">
        <div id="letter-cta" class="row align-items-center">
            <div class="col-md-5">
                <h1 id="heading">Feliz Natal</h1>

            </div>
            <div class="col-md-2">

            </div>
            <div id="form" class="col-md-5">
                <h1 class="form-heading">Já sabe qual presente você quer receber nesse Natal?</h1>
                <p class="form-text">Escreva agora mesmo sua cartinha para o Papai Noel. <br>
                    Nós da Fictitious Store entregaremos a um de seus ajudantes!
                </p>
                <button type="button" class="btn btn-lg btn-outline-light" data-bs-toggle="modal"
                    data-bs-target="#letter">Querido Papai Noel...</button>
            </div>
        </div>
    </div>