<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cartinha para o Papai Noel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/xmasTree.ico">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/3191765959.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <!-- Local CSS -->
    <link rel="stylesheet" href="./styles/styles.css">
</head>

<body>
    <div class="container fluid">
        <div id="letter-cta" class="row align-items-center">
            <div class="col-md-5">
                <h1 id="heading">Feliz Natal</h1>

            </div>
            <div class="col-md-2">

            </div>
            <div id="form" class="col-md-5">
                <h1 class="form-heading">Já sabe qual presente você quer receber nesse Natal?</h1>
                <p class="form-text">Escreva agora mesmo sua cartinha para o Papai Noel. <br>
                    Nós da Fictitious Store entregaremos a um de seus ajudantes!
                </p>
                <button type="button" class="btn btn-lg btn-outline-light" data-bs-toggle="modal"
                    data-bs-target="#letter">Querido Papai Noel...</button>
            </div>
        </div>
    </div>
    <div id="letter" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">...esse ano me comportei muuuito bem.</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/letters" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <textarea placeholder="Por isso, andei pensando que mereço..." class="form-control"
                            id="letterMessageInput" name="letterMessageInput" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="letterNameInput" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="letterNameInput" name="letterNameInput"
                            placeholder="ex: Bolsonaro">
                    </div>
                    <div class="mb-3">
                        <label for="letterEmailInput" class="form-label">Email</label>
                        <input type="email" class="form-control" id="letterEmailInput" name="letterEmailInput"
                            placeholder="nome@exemplo.com">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-danger">Enviar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>